body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    cursor: pointer;
    max-width: 100vw;
    max-height: 100vh;
}

#dogImage {
    max-width: 100vw;
    max-height: 70vh;
    height: auto;
    width: auto;
    margin: 0 auto;
    transition: opacity 0.5s ease;
    opacity: 1;
}

#loader {
    color: white;
    font-size: 1rem;
    margin-top: 10px;
}

#breedName {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
}

.hidden {
    display: none;
}
